{{!-- Phan Trang b1+b2--}}
{{!-- <div class="content">
    <div class="user">

    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" onclick="prevPage()">Previous</a></li>
            <div class="btn" style="display: flex;">
               
            </div>
            <li class="page-item"><a class="page-link" href="#" onclick="nextPage()">Next</a></li>
        </ul>
    </nav>
</div> --}}
{{!-- Phan Trang 3--}}
<div class="content">
    <div class="user">

    </div>
    <div id="page-btn">

    </div>
</div>

